# This is for VG slaes, Mohammed ghafri,31/8/20

In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [7]:
sales=pd.read_csv('./vg/vgsales.csv')

## 1. Which company is the most common video game publisher?

In [79]:

# sales[sales['Global_Sales']==sales['Global_Sales'].max()]
sales['Publisher'][sales['Global_Sales']==sales['Global_Sales'].max()]

0    Nintendo
Name: Publisher, dtype: object

## 2. What’s the most common platform?

In [65]:
# sales[sales['Platform']==sales['Platform'].value_counts().idxmax()]
sales['Platform'].value_counts().idxmax()

'DS'

## 3. What about the most common genre?

In [69]:
sales['Genre'].value_counts().idxmax()

'Action'

# 4. What are the top 20 highest grossing games?

In [87]:
sales['Name'].value_counts().nlargest(20)

Need for Speed: Most Wanted                  12
FIFA 14                                       9
LEGO Marvel Super Heroes                      9
Madden NFL 07                                 9
Ratatouille                                   9
FIFA 15                                       8
LEGO Star Wars II: The Original Trilogy       8
LEGO Harry Potter: Years 5-7                  8
Lego Batman 3: Beyond Gotham                  8
Monopoly                                      8
LEGO The Hobbit                               8
FIFA Soccer 13                                8
Madden NFL 08                                 8
Terraria                                      8
Cars                                          8
LEGO Jurassic World                           8
Angry Birds Star Wars                         8
The LEGO Movie Videogame                      8
Major League Baseball 2K11                    7
Harry Potter and the Order of the Phoenix     7
Name: Name, dtype: int64

# 5. For North American video game sales, what’s the median?

### The medain:

In [232]:
m=sales['NA_Sales'].median(axis=0)
m

0.08

## Ten games surrounding the median sales output

In [266]:

# sales[ sales['NA_Sales'] == (m-.01 or m+.01) ].sample(10)
sales[(sales['NA_Sales']==m-.01)|(sales['NA_Sales']==m+.01)].sample(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9137,9139,Eternal Poison,PS2,2008.0,Role-Playing,Banpresto,0.07,0.05,0.00,0.02,0.14
4065,4067,F1 2014,PS3,2014.0,Racing,Codemasters,0.07,0.31,0.02,0.08,0.49
7434,7436,Disgaea D2: A Brighter Darkness,PS3,2013.0,Role-Playing,Nippon Ichi Software,0.09,0.00,0.10,0.01,0.21
11294,11296,ZhuZhu Babies,DS,2011.0,Simulation,Activision,0.07,0.01,0.00,0.01,0.08
7508,7510,Chronicles of Mystery: Curse of the Ancient Te...,DS,2009.0,Adventure,City Interactive,0.07,0.11,0.00,0.02,0.20
9338,9340,Bio FREAKS,PS,1998.0,Action,GT Interactive,0.07,0.05,0.00,0.01,0.13
8152,8154,Cabela's Dangerous Hunts 2009,PS2,2008.0,Sports,Activision Value,0.09,0.07,0.00,0.02,0.18
11314,11316,Monster Jam: Path of Destruction,PSP,2010.0,Racing,Activision,0.07,0.00,0.00,0.01,0.08
8206,8208,Dead or Alive Paradise,PSP,2010.0,Misc,Ubisoft Annecy,0.07,0.02,0.07,0.02,0.17
5513,5515,Disgaea 2: Cursed Memories,PS2,2006.0,Role-Playing,Tecmo Koei,0.09,0.07,0.15,0.02,0.33

In [129]:
m

0.08

# 6. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [186]:
sales.head(20)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [183]:
sales['NA_Sales'][sales['Name']==sales['Name'].value_counts().idxmax()].std()
# sales['NA_Sales'][sales['Name'].value_counts().idxmax()]

0.5589187342674706

# 7. The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [210]:
sales['Global_Sales'][(sales['Publisher']=='Nintendo') & (sales['Platform']=='Wii')].mean()

4.6483333333333325

In [209]:
sales['Global_Sales'][(sales['Publisher']=='Nintendo')].mean()

2.541337126600285

## Wii has the largest average

# 8. Come up with 3 more questions that can be answered with this data set.

# a. Sales to NA_Sales after 2000

## b. For Need for speed most wanted which countries have the most sales

## c. Which Genre has top value in JP_SAles

In [214]:
# df[ df['NA_Sales'] == (0.07 or 0.09) ]